.cart {
	width: 1300px;
	text-align: center;
	margin: 0 auto;
}

.cart h1 {
	margin: 30px auto;
	font-size: 45px;
}

.cart-container {
	width: 1200px;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 209, 144, 0.467);
	border-radius: 10px;
	padding: 10px 30px;
}

.cart-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
	margin: 10px 0;
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.623);
	border-radius: 10px;
	border: 1px solid #ff891b;
}

.cart-title {
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.qty-price {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.qty-header {
	width: 100px;
}

.actions-header {
	width: 150px;
}

.cart-items {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 1500px;
	overflow: auto;
}

.cart-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid #ff891b;
	padding: 10px 0;
	margin: 10px 0;
}

.item-title {
	width: 70%;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.item-title:hover {
	color: #ff7a15;
}

.item-title h2 {
	font-size: 25px;
}

.item-image {
	width: 200px;
	margin: 0 25px;
}

.summary {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

.price {
	font-size: 30px;
}

.amount {
	width: 100px;
	font-size: 25px;
	border: 2px solid #ffab62;
	padding: 5px 10px;
	border-radius: 6px;
	color: #ff7a15;
	background-color: rgba(255, 255, 255, 0.623);
	margin-right: 10px;
	text-align: center;
}

.actions {
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.updateBtn {
	width: 130px;
	font-size: 18px;
	border: 2px solid #ffab62;
	border-radius: 6px;
	color: #ff7a15;
	background-color: rgba(255, 255, 255, 0.623);
	margin: 10px 110px 10px auto;
	text-align: center;
	cursor: pointer;
}

.cart-item button {
	font-size: 20px;
	color: #ff7a15;
	border: 1px solid #ffab62;
	background-color: rgba(255, 255, 255, 0.623);
	width: 70px;
	text-align: center;
	border-radius: 6px;
	cursor: pointer;
	margin: 5px;
}

.cart-item button:hover,
.cart-item button:active,
.updateBtn:hover,
.updateBtn:active {
	background-color: rgb(255, 192, 125);
	color: white;
}

.cart-total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 28px;
	padding: 5px 15px;
	margin: 10px 0;
	background-color: rgba(255, 255, 255, 0.623);
	border-radius: 10px;
}

.cart-total span {
	margin-right: 0;
}

.cart-total .total-amount {
	margin: 0 270px;
}

.no-items {
	width: 600px;
	margin: 100px auto;
	font-size: 35px;
	background-color: rgba(255, 209, 144, 0.6);
	border-radius: 10px;
}

@media (min-width: 390px) and (max-width: 1500px) {
	.cart {
		width: 95%;
	}

	.cart h1 {
		font-size: 25px;
	}

	.cart-container {
		width: 90%;
	}

	.cart-header {
		display: none;
	}

	.cart-item {
		display: flex;
		flex-direction: column;
	}

	.item-title {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.item-title h2 {
		font-size: 20px;
	}

	.item-image {
		width: 150px;
	}

	.summary {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.summary span {
		font-size: 18px;
		margin-bottom: 8px;
	}

	.amount {
		width: 30%;
		padding: 0;
		margin: 0 auto;
		font-size: 20px;
	}

	.actions {
		flex-direction: row;
		justify-content: center;
		margin-top: 5px;
	}

	.cart-item button {
		font-size: 15px;
	}

	.updateBtn {
		margin: 10px auto;
	}

	.cart-total {
		font-size: 18px;
	}

	.cart-total .total-amount {
		margin: 0 auto;
	}

	.no-items {
		width: 60%;
		font-size: 18px;
	}
}
