.cart-item-number {
	display: flex;
	/* width: 100%; */
	/* justify-content: flex-start; */
	/* align-items: center; */
	font-size: 30px;
	cursor: pointer;
	color: rgb(255, 147, 31);
	/* height: 2.5rem; */
	position: absolute;
	left: 80%;
	margin-top: 2px;
}

.bump {
	color: black;
	animation: bump 300ms ease-out;
}

@keyframes bump {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	30% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}
