@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.nav {
	display: flex;
	border-bottom: 2px solid rgb(255, 204, 110);
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	z-index: 30;
	width: 97%;
	background: rgba(255, 242, 224, 0.725);
}

.shop-container {
	display: flex;
	/* margin: 0 2rem 0 1rem; */
	width: 100%;
}

.shop-container a {
	display: flex;
	/* align-items: center; */
	margin: 0 10px;
}

.shop-icon {
	width: 3rem;
	height: 4rem;
	color: rgb(255, 147, 31);
}

.shop-text {
	margin: 9px;
	font-family: "Indie Flower", cursive;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: rgb(255, 138, 14);
	-webkit-text-stroke: 1px rgb(255, 143, 58);
}

input {
	padding: 7px 20px;
	border: none;
	background: rgb(255, 250, 241);
	outline: 1px solid rgb(255, 221, 159);
	margin: 0rem 2rem;
	border-radius: 5px;
	position: relative;
	width: 30rem;
}

.icon-container {
	display: flex;
	width: 90%;
	margin-right: 30px;
	justify-content: flex-end;
}

.nav-icons {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	cursor: pointer;
	position: relative;
	height: 60px;
	margin: 0;
}

.icon {
	width: 70px;
	height: 22px;
	color: rgb(255, 147, 31);
}

.nav-icons:hover .icon,
.nav-icons:hover span {
	color: rgb(255, 192, 125);
}

@media (min-width: 390px) and (max-width: 1500px) {
	.nav {
		width: 390px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0;
		/* margin: 0 auto; */
	}

	.shop-container {
		width: 100%;
	}

	.shop-container a {
		align-items: center;
		margin: 35px auto 5px auto;
	}

	.shop-icon {
		width: 100%;
	}

	.shop-text {
		display: none;
	}

	.searchbar-container {
		width: 100%;
	}

	.searchbar-container input {
		width: 80%;
		margin: 0;
	}

	.icon-container {
		width: 80%;
		align-items: center;
		margin: 0 20px 0 0;
	}

	.nav-icons {
		width: 100%;
		margin: 0;
	}
}
