@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

nav {
	display: flex;
	border-bottom: 2px solid rgb(255, 204, 110);
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	z-index: 999;
	width: 97%;
	background: rgba(255, 242, 224, 0.725);
}

input {
	padding: 7px 20px;
	border: none;
	background: rgb(255, 250, 241);
	outline: 1px solid rgb(255, 221, 159);
	margin: 0rem 2rem;
	border-radius: 5px;
	position: relative;
	width: 25rem;
}

.shop-icon {
	width: 3rem;
	height: 3rem;
	color: rgb(255, 147, 31);
}

.nav-icons {
	width: 1.2rem;
	height: 1.2rem;
	margin-left: 1.2rem;
	color: rgb(255, 147, 31);
}

.shop-container {
	margin: 0 2rem 0 1rem;
	width: 90%;
}

.shop-container a {
	display: flex;
	align-items: center;
}

.shop-text {
	margin: 9px;
	font-family: "Indie Flower", cursive;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: rgb(255, 138, 14);
	-webkit-text-stroke: 1px rgb(255, 143, 58);
}

.user-container {
	margin: 0 2rem;
	display: flex;
}

.user-container {
	width: 20%;
}

.search-icon {
	cursor: pointer;
}

@media (min-width: 390px) and (max-width: 1500px) {
	nav {
		width: 390px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0;
		margin: 0 auto;
	}

	.shop-container {
		width: 50%;
		margin: 10px auto;
	}

	.shop-container a {
		align-items: center;
	}

	.shop-icon {
		width: 50%;
	}

	.shop-text {
		display: none;
	}

	.search-container {
		width: 80%;
		margin: 10px;
	}

	.search-container input {
		width: 80%;
		margin: 0;
	}

	.user-container {
		width: 70%;
		align-items: center;
		margin-top: 10px;
	}

	.nav-icons {
		width: 90%;
		margin: 0;
	}
}
