.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 40;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal {
	position: fixed;
	top: 25vh;
	left: calc(50% - 375px);
	width: 750px;
	background-color: rgb(255, 243, 227);
	padding: 1rem;
	border-radius: 14px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	z-index: 50;
	animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 390px) and (max-width: 1500px) {
	.modal {
		width: 340px;
		left: calc(50% - 170px);
	}
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
