.products {
	width: 100%;
	/* min-width: 500px; */
	/* height: 20rem; */
	/* border: 1px solid black; */
	border-radius: 20px;
	margin: 0px auto 30px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, 220px);
	column-gap: 60px;
	row-gap: 10px;
	place-items: center;
	justify-content: center;
	background: #ffc4784a;
	padding: 20px;
}

.product {
	/* border: 1px solid black; */
	width: 200px;
	height: 200px;
	margin: 15px;
	cursor: pointer;
}

.product-header {
	width: 100%;
}

.product-overlay {
	width: 200px;
	height: 0px;
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	border-radius: 20px;
	text-shadow: 3px 2px 4px rgb(139, 139, 139);
	overflow: hidden;
	transition: 0.5s ease;
	font-family: "Indie Flower", cursive;
}

.product img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 20px;
	object-position: 50% 75%;
}

.product:hover .product-overlay {
	height: 200px;
	background: rgba(255, 255, 255, 0.55);
}
