.sidebar {
	width: 100%;
	text-align: left;
	padding: 20px;
	border-radius: 20px;
	background: #ffc4784a;
}

li {
	margin: 5px;
	font-size: 20px;
	padding: 2px;
}

li:hover {
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
	color: rgb(255, 153, 0);
}
