.recommendation-container {
	width: 95%;
	height: 32rem;
	/* border: 1px solid black; */
	margin: 10px auto;
	/* text-align: center; */
	display: flex;
	position: relative;
	justify-content: center;
	/* align-items: center; */
}

.image-container {
	width: 90%;
	background: rgba(255, 225, 187, 0.726);
	/* border-radius: 25px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide img {
	width: 89%;
	height: 28rem;
	object-fit: cover;
	object-position: 50% 70%;
	display: flex;
	justify-content: center;
	animation: zoom-in 4s ease;
}

.right-arrow {
	position: absolute;
	top: 50%;
	left: 42.5%;
	font-size: 2rem;
	z-index: 10;
	cursor: pointer;
	user-select: none;
	color: rgba(255, 162, 56, 0.486);
}

.left-arrow {
	position: absolute;
	top: 50%;
	right: 42.5%;
	font-size: 2rem;
	z-index: 10;
	cursor: pointer;
	user-select: none;
	color: rgba(255, 162, 56, 0.486);
}

.slide {
	display: none;
}

.slide.active {
	display: inline-block;
	animation: fadeIn 2s ease-in-out;
}

.image-title-overlay {
	width: 90%;
	height: 30rem;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	/* font-size: 4vw; */
	/* font-weight: bold; */
	text-align: center;
	color: rgb(255, 255, 255);
	/* background-color: rgba(255, 255, 255, 0.1); */
	/* -webkit-text-stroke: 1px rgb(171, 171, 171); */
	text-shadow: 5px 4px 5px rgb(45, 45, 45);
	z-index: 9;
	/* animation: fadeIn 2s; */
}

.image-title-overlay h3 {
	background-color: rgba(255, 255, 255, 0.411);
	font-size: 70px;
	font-weight: bold;
	width: 70%;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes zoom-in {
	0% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}
