.main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* padding: 0px auto; */
}

.product-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 10px auto 30px auto;
}
