.main-container {
	width: 1500px;
	display: flex;
	flex-direction: column;
	/* padding: 0px auto; */
}

.content-container {
	width: 100%;
	margin: 30px auto 30px auto;
}

.error-container {
	width: 100%;
	text-align: center;
	display: none;
	margin: 100px 0;
}

@media (min-width: 390px) and (max-width: 1500px) {
	.main-container {
		width: 390px;
	}
	.content-container {
		width: 95%;
		margin-top: 10px;
	}
}

@media (max-width: 389px) {
	.main-container {
		display: none;
	}

	.error-container {
		display: flex;
	}

	.error-message {
		font-size: 30px;
		margin: 10px 40px;
	}
}
