* {
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
}

body {
	background-color: white;
	background: url("./image/istockphoto-886532840-612x612-2.jpg") repeat;
	background-size: 400px;
}

a {
	text-decoration: none;
	color: rgb(97, 97, 97);
}

li {
	list-style: none;
}
