.profile {
	max-width: 80%;
	margin: 10px auto;
	text-align: center;
}

.profile h1 {
	margin: 30px auto;
	font-size: 45px;
}

@media (min-width: 390px) and (max-width: 1500px) {
	.profile h1 {
		font-size: 25px;
	}
}
